<div class="login-wrapper">
    <div class="login-content">
        @ChildContent
    </div>

    <div class="login-bg-container">
        <svg viewBox="0 0 1440 1000" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="degradadoVerticalNuevo" x1="0%" y1="100%" x2="0%" y2="0%">
                    <stop offset="0%" stop-color="rgba(255, 119, 0, 1)" />     <stop offset="50%" stop-color="rgba(245, 130, 29, 1)" />    <stop offset="100%" stop-color="rgba(242, 205, 119, 1)" />
                </linearGradient>
            </defs>
            <path d="M0,250 Q720,500 1440,250 L1440,1000 L0,1000 Z" fill="url(#degradadoVerticalNuevo)" />
        </svg>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}