
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager nav
@inject IJSRuntime JS

<MudOverlay Visible="_isLoggingOut" DarkBackground="true" ZIndex="9999">
    <div class="d-flex flex-column align-center">
        <MudProgressCircular Color="Color.Error" Size="Size.Large" Indeterminate="true" />
        <MudText Typo="Typo.h6" Color="Color.Inherit" Class="mt-4">Finalizando sesión segura...</MudText>
    </div>
</MudOverlay>

<div class="d-flex flex-column h-100 menu_over">
    <div class="flex-grow-1 blur_bg">
            <MudNavMenu>
                <AuthorizeView>
                  <Authorized>
                    <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                        <div class="d-flex align-center ml-n3">
                            <MudImage Src="img/menuicons/home.png" Width="24" Height="24" Class="mr-3" />
                            <MudText>Inicio</MudText>
                        </div>
                    </MudNavLink>
                        <MudDivider />
                  </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Admin">
                   <Authorized>
                      <MudNavGroup Title="App1.Mobile" Expanded="false">
                        <TitleContent>
                            <div class="d-flex align-center ml-n3">
                                <MudImage Src="/img/menuicons/ap1.png" Width="24" Height="24" Class="mr-3" />
                                <MudText>App1.Mobile</MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/android.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Android</MudText>
                                </div>
                            </MudNavLink>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/huawei.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Huawei</MudText>
                                </div>
                            </MudNavLink>
                        </ChildContent>
                    </MudNavGroup>
                     <MudDivider />
                   </Authorized>
                </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudNavGroup Title="App2.Mobile" Expanded="false">
                        <TitleContent>
                            <div class="d-flex align-center ml-n3">
                                <MudImage Src="/img/menuicons/ap2.png" Width="24" Height="24" Class="mr-3" />
                                <MudText>App2.Mobile</MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/android.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Android</MudText>
                                </div>
                            </MudNavLink>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/huawei.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Huawei</MudText>
                                </div>
                            </MudNavLink>
                        </ChildContent>
                    </MudNavGroup>
                    <MudDivider />
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudNavGroup Title="App3.Mobile" Expanded="false">
                        <TitleContent>
                            <div class="d-flex align-center ml-n3">
                                <MudImage Src="/img/menuicons/ap3.png" Width="24" Height="24" Class="mr-3" />
                                <MudText>App3.Mobile</MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/android.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Android</MudText>
                                </div>
                            </MudNavLink>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/huawei.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Huawei</MudText>
                                </div>
                            </MudNavLink>
                        </ChildContent>
                    </MudNavGroup>
                    <MudDivider />
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudNavGroup Title="App4.Mobile" Expanded="false">
                        <TitleContent>
                            <div class="d-flex align-center ml-n3">
                                <MudImage Src="/img/menuicons/ap4.png" Width="24" Height="24" Class="mr-3" />
                                <MudText>App4.Mobile</MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                                <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                    <div class="d-flex align-center ml-n4">
                                        <MudImage Src="img/menuicons/android.png" Width="24" Height="24" Class="mr-3" />
                                        <MudText>Android</MudText>
                                    </div>
                                </MudNavLink>
                                <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                    <div class="d-flex align-center ml-n4">
                                        <MudImage Src="img/menuicons/huawei.png" Width="24" Height="24" Class="mr-3" />
                                        <MudText>Huawei</MudText>
                                    </div>
                                </MudNavLink>
                        </ChildContent>
                    </MudNavGroup>
                    <MudDivider />
                </Authorized>
            </AuthorizeView>
                <AuthorizeView Roles="Admin,Administracion">
                  <Authorized>
                    <MudNavGroup Title="Administracion" Expanded="false">
                        <TitleContent>
                            <div class="d-flex align-center ml-n3">
                                <MudImage Src="/img/icons/lock.png" Width="24" Height="24" Class="mr-3" />
                                <MudText>Administracion</MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">
                                <div class="d-flex align-center ml-n4">
                                    <MudImage Src="img/menuicons/listu.png" Width="24" Height="24" Class="mr-3" />
                                    <MudText>Lista de usuarios</MudText>
                                </div>
                            </MudNavLink>
                        </ChildContent>
                    </MudNavGroup>
                     <MudDivider />
                   </Authorized>
                </AuthorizeView>
            </MudNavMenu>
       </div>
        <div class="pa-4">
            <form id="logoutForm" action="logout-action" method="post">
                <AntiforgeryToken />
                   <MudButton Variant="Variant.Filled"
                    Color="Color.Error"
                    FullWidth="true"
                    Disabled="_isLoggingOut"
                    OnClick="HandleLogoutConRetraso"
                    StartIcon="@Icons.Material.Filled.Logout">
                    @(_isLoggingOut ? "CERRANDO..." : "CERRAR SESIÓN")
                    </MudButton>
            </form>
        </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool _isLoggingOut = false;

    private void HandleLogoutClick()
    {
        _isLoggingOut = true;
    }



    private async Task HandleLogoutConRetraso()
    {
        _isLoggingOut = true;
        StateHasChanged();
        await Task.Delay(1500);
        await JS.InvokeVoidAsync("submitForm", "logoutForm");
    }

}


